[Unit]
Description=uWSGI instance to serve notion reading list server
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/reading_list/
Environment="PATH=/home/ubuntu/reading_list/virt/bin"
ExecStart=/home/ubuntu/reading_list/virt/bin/uwsgi --ini server.ini

[Install]
WantedBy=multi-user.target
