<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
       a:link, a:visited {
      color: #7d9ec0;
      font-family: "Prompt", sans-serif;
      text-decoration: underline;
      font-size: large;
      font-weight:lighter;
      cursor: auto;
    }
    .success{
      color: #7d9ec0;
      font-family: "Prompt", sans-serif;
      font-size:x-large;
      font-weight: lighter;
    }  
    .container{
      width: 100%;
      text-align: center;
      
    }  
    </style>
    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Seven Forward</title>
  </head>
  <body style="background-color: #000000;">
    <div class="container">
      <img src="{{url_for('static', filename='Se7enForward.svg')}}" alt="Se7evn Forward Logo" width="300" height="300"><br><br><br>
      <h1 class="success">{{error}}</h1><br><br><br>
      <!-- <form action="{{ url_for('verify', userId = userId)}}" method="post">
            <label style="font-family: 'Prompt', sans-serif; color: #ffffff;" for="licenseKey">LICENSE KEY:</label>
            <input style="border: #ffffff; width: 500px; font-size: large; padding: auto;" type="text" id="licenseKey" name="license_key" required><br><br>
            <input style="background-color: aliceblue; font-family: 'Prompt', sans-serif; color:#7d9ec0; size: 30px; padding-left: 15px; padding-right: 15px;" type="submit" value="SUBMIT">
          </form> --> -->
      <!-- Content here -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>