<!DOCTYPE html>
<html>
    <head><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet"> </head>
    <body style="background-color: #c6e6FB;">
        <h1 style="color: #7D9EC0; text-align: center; font-family: 'Montserrat', sans-serif;font-size: 30px; font: weight 20px; ;">YOU HAVE ACCESS TO THE INTEGRATION!</h1>
        <img src="{{url_for('static', filename='Se7enForward.svg')}}" alt="Se7en Forward Logo" width="400" height="400" style="margin-left:auto;margin-right:auto;display:block;"/>
    </body>
</html>