[Unit]
Description=uWSGI instance to serve notion reading list server
After=network.target

[Service]
User=se7enforward
Group=www-data
WorkingDirectory=/home/se7enforward/reading_list/server
Environment="PATH=/home/se7enforward/reading_list/server/virt/bin"
ExecStart=/home/se7enforward/reading_list/server/virt/bin/uwsgi --ini publicInteg.ini

[Install]
WantedBy=multi-user.target
