<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Prompt:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles_index.css')}}">
    <title>Seven Forward</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{url_for('static', filename='new-logo.svg')}}" alt="Se7evn Forward Logo">
            <h1>SEVEN FORWARD</h1>
        </div>
    </header>
</body>
</html>
